
h1{
    position: relative;
    text-align: center;
    font-family: 'Courier New', Courier, monospace;
    top:150px;
}

h2{
    text-align: center;
    position: relative;;
    top:170px;
    font-family: 'Courier New', Courier, monospace;
    padding:20px;
    margin: 0px;
}

#all_buttons{
    position:relative;
    top:200px;
    text-align: center;
}

button{
    position:relative;
    margin:20px;
    border: 1px solid #f2f2f2;
    font-family: 'Courier New', Courier, monospace;
    font-size: 20px;
    padding:20px;
}

button:hover{
    color: black;
    border: 1px solid black;
}

#Score{
    position:relative;
    text-align: center;
    top: 250px;
    font-family: 'Courier New', Courier, monospace;
}

#count{
    display: flex;
    justify-content: center;
    margin-left:10px;
    margin-right: 10px;
}

body{
    margin: 0px;
}
